.no1 {
	background: url('../icons-large-sprite.png') no-repeat 3.118% 1.154%;
	width: 38px;
	height: 44px;
	position: relative;
	left: -19px;
	top: -22px;
}
.no2 {
	background: url('../icons-large-sprite.png') no-repeat 17.259% 0.581%;
	width: 61px;
	height: 52px;
	position: relative;
	left: -30px;
	top: -26px;
}
.no3 {
	background: url('../icons-large-sprite.png') no-repeat 33.248% 0.725%;
	width: 64px;
	height: 50px;
	position: relative;
	left: -32px;
	top: -25px;
}
.no4 {
	background: url('../icons-large-sprite.png') no-repeat 49.88% 0.653%;
	width: 38px;
	height: 52px;
	position: relative;
	left: -19px;
	top: -26px;
}
.no5 {
	background: url('../icons-large-sprite.png') no-repeat 64.988% 0.146%;
	width: 38px;
	height: 61px;
	position: relative;
	left: -19px;
	top: -30px;
}
.no6 {
	background: url('../icons-large-sprite.png') no-repeat 83.333% 0.364%;
	width: 65px;
	height: 55px;
	position: relative;
	left: -32px;
	top: -22px;
}
.no7 {
	background: url('../icons-large-sprite.png') no-repeat 97.311% 0.653%;
	width: 46px;
	height: 51px;
	position: relative;
	left: -23px;
	top: -25px;
}
.no8 {
	background: url('../icons-large-sprite.png') no-repeat 2.19% 5.095%;
	width: 44px;
	height: 56px;
	position: relative;
	left: -22px;
	top: -28px;
}
.no9 {
	background: url('../icons-large-sprite.png') no-repeat 16.625% 5.37%;
	width: 58px;
	height: 52px;
	position: relative;
	left: -29px;
	top: -26px;
}
.no10 {
	background: url('../icons-large-sprite.png') no-repeat 35.337% 6.246%;
	width: 39px;
	height: 37px;
	position: relative;
	left: -20px;
	top: -18px;
}
.no11 {
	background: url('../icons-large-sprite.png') no-repeat 49.048% 5.16%;
	width: 35px;
	height: 54px;
	position: relative;
	left: -17px;
	top: -27px;
}
.no12 {
	background: url('../icons-large-sprite.png') no-repeat 66.923% 5.37%;
	width: 65px;
	height: 52px;
	position: relative;
	left: -33px;
	top: -26px;
}
.no13 {
	background: url('../icons-large-sprite.png') no-repeat 79.529% 5.904%;
	width: 30px;
	height: 41px;
	position: relative;
	left: -15px;
	top: -20px;
}
.no14 {
	background: url('../icons-large-sprite.png') no-repeat 96.009% 5.301%;
	width: 29px;
	height: 53px;
	position: relative;
	left: -15px;
	top: -21px;
}
.no15 {
	background: url('../icons-large-sprite.png') no-repeat 1.97% 9.898%;
	width: 49px;
	height: 56px;
	position: relative;
	left: -25px;
	top: -28px;
}
.no16 {
	background: url('../icons-large-sprite.png') no-repeat 19.424% 10.42%;
	width: 38px;
	height: 48px;
	position: relative;
	left: -19px;
	top: -24px;
}
.no17 {
	background: url('../icons-large-sprite.png') no-repeat 33.248% 10.696%;
	width: 64px;
	height: 37px;
	position: relative;
	left: -32px;
	top: -18px;
}
.no18 {
	background: url('../icons-large-sprite.png') no-repeat 50% 10.412%;
	width: 65px;
	height: 47px;
	position: relative;
	left: -32px;
	top: -24px;
}
.no19 {
	background: url('../icons-large-sprite.png') no-repeat 65.311% 9.971%;
	width: 37px;
	height: 56px;
	position: relative;
	left: -18px;
	top: -28px;
}
.no20 {
	background: url('../icons-large-sprite.png') no-repeat 82.152% 10.217%;
	width: 46px;
	height: 50px;
	position: relative;
	left: -23px;
	top: -25px;
}
.no21 {
	background: url('../icons-large-sprite.png') no-repeat 96.019% 10.375%;
	width: 28px;
	height: 42px;
	position: relative;
	left: -14px;
	top: -21px;
}
.no22 {
	background: url('../icons-large-sprite.png') no-repeat 0 15.308%;
	width: 65px;
	height: 32px;
	position: relative;
	left: -33px;
	top: -16px;
}
.no23 {
	background: url('../icons-large-sprite.png') no-repeat 18.137% 15.252%;
	width: 47px;
	height: 40px;
	position: relative;
	left: -23px;
	top: -20px;
}
.no24 {
	background: url('../icons-large-sprite.png') no-repeat 34.165% 14.431%;
	width: 54px;
	height: 58px;
	position: relative;
	left: -27px;
	top: -29px;
}
.no25 {
	background: url('../icons-large-sprite.png') no-repeat 50.743% 14.597%;
	width: 51px;
	height: 53px;
	position: relative;
	left: -25px;
	top: -26px;
}
.no26 {
	background: url('../icons-large-sprite.png') no-repeat 66.427% 14.359%;
	width: 38px;
	height: 58px;
	position: relative;
	left: -19px;
	top: -29px;
}
.no27 {
	background: url('../icons-large-sprite.png') no-repeat 81.618% 14.742%;
	width: 47px;
	height: 53px;
	position: relative;
	left: -23px;
	top: -27px;
}
.no28 {
	background: url('../icons-large-sprite.png') no-repeat 98.263% 14.556%;
	width: 52px;
	height: 56px;
	position: relative;
	left: -26px;
	top: -28px;
}
.no29 {
	background: url('../icons-large-sprite.png') no-repeat 2.663% 20.043%;
	width: 42px;
	height: 43px;
	position: relative;
	left: -21px;
	top: -22px;
}
.no30 {
	background: url('../icons-large-sprite.png') no-repeat 18.337% 19.432%;
	width: 46px;
	height: 56px;
	position: relative;
	left: -23px;
	top: -28px;
}
.no31 {
	background: url('../icons-large-sprite.png') no-repeat 34.383% 19.331%;
	width: 42px;
	height: 54px;
	position: relative;
	left: -21px;
	top: -27px;
}
.no32 {
	background: url('../icons-large-sprite.png') no-repeat 50.122% 19.87%;
	width: 44px;
	height: 46px;
	position: relative;
	left: -22px;
	top: -23px;
}
.no33 {
	background: url('../icons-large-sprite.png') no-repeat 66% 19.638%;
	width: 55px;
	height: 50px;
	position: relative;
	left: -27px;
	top: -25px;
}
.no34 {
	background: url('../icons-large-sprite.png') no-repeat 83.081% 19.36%;
	width: 59px;
	height: 56px;
	position: relative;
	left: -30px;
	top: -28px;
}
.no35 {
	background: url('../icons-large-sprite.png') no-repeat 98.263% 19.754%;
	width: 52px;
	height: 48px;
	position: relative;
	left: -26px;
	top: -24px;
}
.no36 {
	background: url('../icons-large-sprite.png') no-repeat 0.509% 24.22%;
	width: 62px;
	height: 51px;
	position: relative;
	left: -31px;
	top: -25px;
}
.no37 {
	background: url('../icons-large-sprite.png') no-repeat 18% 24.238%;
	width: 55px;
	height: 52px;
	position: relative;
	left: -26px;
	top: -26px;
}
.no38 {
	background: url('../icons-large-sprite.png') no-repeat 33.831% 24.145%;
	width: 53px;
	height: 55px;
	position: relative;
	left: -26px;
	top: -27px;
}
.no39 {
	background: url('../icons-large-sprite.png') no-repeat 50.124% 24.256%;
	width: 52px;
	height: 53px;
	position: relative;
	left: -26px;
	top: -26px;
}
.no40 {
	background: url('../icons-large-sprite.png') no-repeat 66.416% 23.962%;
	width: 56px;
	height: 57px;
	position: relative;
	left: -28px;
	top: -28px;
}
.no41 {
	background: url('../icons-large-sprite.png') no-repeat 82.707% 24.821%;
	width: 56px;
	height: 36px;
	position: relative;
	left: -28px;
	top: -18px;
}
.no42 {
	background: url('../icons-large-sprite.png') no-repeat 100% 24.911%;
	width: 65px;
	height: 25px;
	position: relative;
	left: -33px;
	top: -12px;
}
.no43 {
	background: url('../icons-large-sprite.png') no-repeat 2.689% 29.025%;
	width: 46px;
	height: 45px;
	position: relative;
	left: -23px;
	top: -22px;
}
.no44 {
	background: url('../icons-large-sprite.png') no-repeat 17.544% 29.037%;
	width: 56px;
	height: 49px;
	position: relative;
	left: -28px;
	top: -25px;
}
.no45 {
	background: url('../icons-large-sprite.png') no-repeat 33.333% 29.242%;
	width: 65px;
	height: 45px;
	position: relative;
	left: -33px;
	top: -23px;
}
.no46 {
	background: url('../icons-large-sprite.png') no-repeat 50.376% 29.374%;
	width: 56px;
	height: 41px;
	position: relative;
	left: -28px;
	top: -20px;
}
.no47 {
	background: url('../icons-large-sprite.png') no-repeat 66.499% 28.955%;
	width: 58px;
	height: 52px;
	position: relative;
	left: -29px;
	top: -21px;
}
.no48 {
	background: url('../icons-large-sprite.png') no-repeat 81.752% 28.759%;
	width: 44px;
	height: 60px;
	position: relative;
	left: -22px;
	top: -30px;
}
.no49 {
	background: url('../icons-large-sprite.png') no-repeat 98.02% 28.644%;
	width: 51px;
	height: 58px;
	position: relative;
	left: -25px;
	top: -29px;
}
.no50 {
	background: url('../icons-large-sprite.png') no-repeat 1.995% 34.056%;
	width: 54px;
	height: 47px;
	position: relative;
	left: -27px;
	top: -23px;
}
.no51 {
	background: url('../icons-large-sprite.png') no-repeat 17.005% 33.792%;
	width: 61px;
	height: 48px;
	position: relative;
	left: -30px;
	top: -24px;
}
.no52 {
	background: url('../icons-large-sprite.png') no-repeat 34.063% 33.576%;
	width: 44px;
	height: 57px;
	position: relative;
	left: -22px;
	top: -28px;
}
.no53 {
	background: url('../icons-large-sprite.png') no-repeat 50% 33.479%;
	width: 47px;
	height: 56px;
	position: relative;
	left: -24px;
	top: -28px;
}
.no54 {
	background: url('../icons-large-sprite.png') no-repeat 65.926% 33.527%;
	width: 50px;
	height: 55px;
	position: relative;
	left: -25px;
	top: -27px;
}
.no55 {
	background: url('../icons-large-sprite.png') no-repeat 81.931% 33.479%;
	width: 51px;
	height: 56px;
	position: relative;
	left: -25px;
	top: -28px;
}
.no56 {
	background: url('../icons-large-sprite.png') no-repeat 98.272% 33.406%;
	width: 50px;
	height: 56px;
	position: relative;
	left: -25px;
	top: -28px;
}
.no57 {
	background: url('../icons-large-sprite.png') no-repeat 1.975% 38.361%;
	width: 50px;
	height: 51px;
	position: relative;
	left: -25px;
	top: -25px;
}
.no58  {
	background: url('../icons-large-sprite.png') no-repeat 18.137% 38.137%;
	width: 47px;
	height: 56px;
	position: relative;
	left: -24px;
	top: -28px;
}
.no59 {
	background: url('../icons-large-sprite.png') no-repeat 34.719% 38.12%;
	width: 46px;
	height: 58px;
	position: relative;
	left: -23px;
	top: -29px;
}
.no60 {
	background: url('../icons-large-sprite.png') no-repeat 50.5% 38.534%;
	width: 55px;
	height: 52px;
	position: relative;
	left: -27px;
	top: -26px;
}
.no61 {
	background: url('../icons-large-sprite.png') no-repeat 66.329% 38.556%;
	width: 60px;
	height: 45px;
	position: relative;
	left: -30px;
	top: -22px;
}
.no62 {
	background: url('../icons-large-sprite.png') no-repeat 82.5% 38.406%;
	width: 55px;
	height: 50px;
	position: relative;
	left: -27px;
	top: -25px;
}
.no63 {
	background: url('../icons-large-sprite.png') no-repeat 98.747% 38.689%;
	width: 56px;
	height: 42px;
	position: relative;
	left: -28px;
	top: -21px;
}
.no64 {
	background: url('../icons-large-sprite.png') no-repeat 0.748% 42.951%;
	width: 54px;
	height: 54px;
	position: relative;
	left: -27px;
	top: -27px;
}
.no65  {
	background: url('../icons-large-sprite.png') no-repeat 17.413% 42.826%;
	width: 53px;
	height: 57px;
	position: relative;
	left: -26px;
	top: -28px;
}
.no66 {
	background: url('../icons-large-sprite.png') no-repeat 34.45% 42.847%;
	width: 37px;
	height: 53px;
	position: relative;
	left: -18px;
	top: -26px;
}
.no67 {
	background: url('../icons-large-sprite.png') no-repeat 50% 42.909%;
	width: 45px;
	height: 55px;
	position: relative;
	left: -22px;
	top: -27px;
}
.no68 {
	background: url('../icons-large-sprite.png') no-repeat 65.602% 42.878%;
	width: 48px;
	height: 54px;
	position: relative;
	left: -24px;
	top: -27px;
}
.no69 {
	background: url('../icons-large-sprite.png') no-repeat 81.572% 43.157%;
	width: 48px;
	height: 49px;
	position: relative;
	left: -24px;
	top: -24px;
}
.no70 {
	background: url('../icons-large-sprite.png') no-repeat 98.997% 43.228%;
	width: 56px;
	height: 42px;
	position: relative;
	left: -28px;
	top: -21px;
}
.no71 {
	background: url('../icons-large-sprite.png') no-repeat 1.003% 47.685%;
	width: 56px;
	height: 48px;
	position: relative;
	left: -28px;
	top: -24px;
}
.no72 {
	background: url('../icons-large-sprite.png') no-repeat 18.854% 47.782%;
	width: 36px;
	height: 55px;
	position: relative;
	left: -18px;
	top: -27px;
}
.no73 {
	background: url('../icons-large-sprite.png') no-repeat 34.058% 47.747%;
	width: 41px;
	height: 54px;
	position: relative;
	left: -20px;
	top: -27px;
}
.no74 {
	background: url('../icons-large-sprite.png') no-repeat 49.872% 47.866%;
	width: 64px;
	height: 24px;
	position: relative;
	left: -32px;
	top: -12px;
}
.no75 {
	background: url('../icons-large-sprite.png') no-repeat 66.496% 47.948%;
	width: 64px;
	height: 41px;
	position: relative;
	left: -32px;
	top: -20px;
}
.no76 {
	background: url('../icons-large-sprite.png') no-repeat 82.323% 47.861%;
	width: 59px;
	height: 51px;
	position: relative;
	left: -30px;
	top: -25px;
}
.no77 {
	background: url('../icons-large-sprite.png') no-repeat 95.529% 47.747%;
	width: 30px;
	height: 54px;
	position: relative;
	left: -15px;
	top: -27px;
}
.no78 {
	background: url('../icons-large-sprite.png') no-repeat 3.365% 52.367%;
	width: 39px;
	height: 57px;
	position: relative;
	left: -20px;
	top: -29px;
}
.no79 {
	background: url('../icons-large-sprite.png') no-repeat 18.402% 52.402%;
	width: 42px;
	height: 56px;
	position: relative;
	left: -21px;
	top: -28px;
}
.no80 {
	background: url('../icons-large-sprite.png') no-repeat 33.842% 52.605%;
	width: 62px;
	height: 48px;
	position: relative;
	left: -31px;
	top: -24px;
}
.no81 {
	background: url('../icons-large-sprite.png') no-repeat 50% 52.798%;
	width: 57px;
	height: 36px;
	position: relative;
	left: -28px;
	top: -18px;
}
.no82 {
	background: url('../icons-large-sprite.png') no-repeat 66.416% 52.491%;
	width: 56px;
	height: 45px;
	position: relative;
	left: -28px;
	top: -22px;
}
.no83 {
	background: url('../icons-large-sprite.png') no-repeat 81.995% 52.433%;
	width: 44px;
	height: 53px;
	position: relative;
	left: -22px;
	top: -26px;
}
.no84 {
	background: url('../icons-large-sprite.png') no-repeat 95.765% 52.398%;
	width: 30px;
	height: 54px;
	position: relative;
	left: -15px;
	top: -27px;
}
.no85 {
	background: url('../icons-large-sprite.png') no-repeat 3.341% 56.977%;
	width: 36px;
	height: 54px;
	position: relative;
	left: -18px;
	top: -27px;
}
.no86 {
	background: url('../icons-large-sprite.png') no-repeat 18.025% 57.389%;
	width: 50px;
	height: 36px;
	position: relative;
	left: -25px;
	top: -18px;
}
.no87 {
	background: url('../icons-large-sprite.png') no-repeat 33.835% 57.205%;
	width: 56px;
	height: 49px;
	position: relative;
	left: -28px;
	top: -25px;
}
.no88 {
	background: url('../icons-large-sprite.png') no-repeat 50.125% 57.39%;
	width: 56px;
	height: 43px;
	position: relative;
	left: -28px;
	top: -21px;
}
.no89 {
	background: url('../icons-large-sprite.png') no-repeat 66.499% 57.43%;
	width: 58px;
	height: 37px;
	position: relative;
	left: -29px;
	top: -19px;
}
.no90 {
	background: url('../icons-large-sprite.png') no-repeat 82.75% 57.39%;
	width: 55px;
	height: 43px;
	position: relative;
	left: -27px;
	top: -21px;
}
.no91 {
	background: url('../icons-large-sprite.png') no-repeat 98.747% 56.977%;
	width: 56px;
	height: 54px;
	position: relative;
	left: -28px;
	top: -27px;
}
.no92 {
	background: url('../icons-large-sprite.png') no-repeat 1.256% 61.884%;
	width: 57px;
	height: 50px;
	position: relative;
	left: -28px;
	top: -25px;
}
.no93 {
	background: url('../icons-large-sprite.png') no-repeat 17.128% 61.946%;
	width: 58px;
	height: 53px;
	position: relative;
	left: -29px;
	top: -26px;
}
.no94 {
	background: url('../icons-large-sprite.png') no-repeat 33.584% 61.835%;
	width: 56px;
	height: 57px;
	position: relative;
	left: -28px;
	top: -28px;
}
.no95 {
	background: url('../icons-large-sprite.png') no-repeat 49.877% 61.953%;
	width: 50px;
	height: 58px;
	position: relative;
	left: -25px;
	top: -29px;
}
.no96 {
	background: url('../icons-large-sprite.png') no-repeat 65.679% 61.919%;
	width: 50px;
	height: 54px;
	position: relative;
	left: -25px;
	top: -27px;
}
.no97 {
	background: url('../icons-large-sprite.png') no-repeat 82.456% 61.884%;
	width: 56px;
	height: 50px;
	position: relative;
	left: -28px;
	top: -25px;
}
.no98 {
	background: url('../icons-large-sprite.png') no-repeat 98.995% 62.104%;
	width: 57px;
	height: 42px;
	position: relative;
	left: -28px;
	top: -21px;
}
.no99 {
	background: url('../icons-large-sprite.png') no-repeat 0.758% 66.835%;
	width: 59px;
	height: 43px;
	position: relative;
	left: -30px;
	top: -21px;
}
.no100 {
	background: url('../icons-large-sprite.png') no-repeat 18.537% 66.667%;
	width: 45px;
	height: 44px;
	position: relative;
	left: -22px;
	top: -22px;
}
.no101 {
	background: url('../icons-large-sprite.png') no-repeat 34.074% 66.449%;
	width: 50px;
	height: 50px;
	position: relative;
	left: -25px;
	top: -25px;
}
.no102 {
	background: url('../icons-large-sprite.png') no-repeat 50% 66.881%;
	width: 63px;
	height: 29px;
	position: relative;
	left: -31px;
	top: -15px;
}
.no103 {
	background: url('../icons-large-sprite.png') no-repeat 67.01% 66.376%;
	width: 67px;
	height: 53px;
	position: relative;
	left: -33px;
	top: -26px;
}
.no104 {
	background: url('../icons-large-sprite.png') no-repeat 81.643% 66.497%;
	width: 41px;
	height: 51px;
	position: relative;
	left: -20px;
	top: -25px;
}
.no105 {
	background: url('../icons-large-sprite.png') no-repeat 97.567% 66.351%;
	width: 44px;
	height: 57px;
	position: relative;
	left: -22px;
	top: -28px;
}
.no106 {
	background: url('../icons-large-sprite.png') no-repeat 3.357% 71.127%;
	width: 38px;
	height: 55px;
	position: relative;
	left: -19px;
	top: -27px;
}
.no107 {
	background: url('../icons-large-sprite.png') no-repeat 18.644% 71.158%;
	width: 42px;
	height: 57px;
	position: relative;
	left: -21px;
	top: -28px;
}
.no108 {
	background: url('../icons-large-sprite.png') no-repeat 33.831% 71.127%;
	width: 53px;
	height: 55px;
	position: relative;
	left: -27px;
	top: -27px;
}
.no109 {
	background: url('../icons-large-sprite.png') no-repeat 50.123% 71.201%;
	width: 50px;
	height: 48px;
	position: relative;
	left: -25px;
	top: -24px;
}
.no110 {
	background: url('../icons-large-sprite.png') no-repeat 66.919% 71.264%;
	width: 59px;
	height: 45px;
	position: relative;
	left: -30px;
	top: -22px;
}
.no111 {
	background: url('../icons-large-sprite.png') no-repeat 82.957% 71.345%;
	width: 56px;
	height: 55px;
	position: relative;
	left: -28px;
	top: -27px;
}
.no112 {
	background: url('../icons-large-sprite.png') no-repeat 98.997% 71.325%;
	width: 56px;
	height: 56px;
	position: relative;
	left: -28px;
	top: -28px;
}
.no113 {
	background: url('../icons-large-sprite.png') no-repeat 1.256% 76.177%;
	width: 57px;
	height: 49px;
	position: relative;
	left: -28px;
	top: -25px;
}
.no114{
	background: url('../icons-large-sprite.png') no-repeat 17.588% 76.052%;
	width: 57px;
	height: 52px;
	position: relative;
	left: -28px;
	top: -26px;
}
.no115 {
	background: url('../icons-large-sprite.png') no-repeat 34.005% 76.017%;
	width: 58px;
	height: 54px;
	position: relative;
	left: -29px;
	top: -27px;
}
.no116 {
	background: url('../icons-large-sprite.png') no-repeat 50.237% 76.032%;
	width: 33px;
	height: 49px;
	position: relative;
	left: -16px;
	top: -25px;
}
.no117 {
	background: url('../icons-large-sprite.png') no-repeat 66.01% 75.983%;
	width: 49px;
	height: 56px;
	position: relative;
	left: -25px;
	top: -28px;
}
.no118 {
	background: url('../icons-large-sprite.png') no-repeat 83.376% 76.218%;
	width: 64px;
	height: 34px;
	position: relative;
	left: -32px;
	top: -17px;
}
.no119 {
	background: url('../icons-large-sprite.png') no-repeat 99.002% 76.017%;
	width: 54px;
	height: 54px;
	position: relative;
	left: -27px;
	top: -27px;
}
.no120 {
	background: url('../icons-large-sprite.png') no-repeat 1.975% 80.797%;
	width: 50px;
	height: 50px;
	position: relative;
	left: -25px;
	top: -25px;
}
.no121 {
	background: url('../icons-large-sprite.png') no-repeat 17.25% 80.814%;
	width: 55px;
	height: 54px;
	position: relative;
	left: -27px;
	top: -27px;
}
.no122 {
	background: url('../icons-large-sprite.png') no-repeat 33.75% 80.741%;
	width: 55px;
	height: 54px;
	position: relative;
	left: -27px;
	top: -27px;
}
.no123 {
	background: url('../icons-large-sprite.png') no-repeat 49.63% 80.612%;
	width: 50px;
	height: 58px;
	position: relative;
	left: -25px;
	top: -29px;
}
.no124 {
	background: url('../icons-large-sprite.png') no-repeat 66.416% 80.669%;
	width: 56px;
	height: 54px;
	position: relative;
	left: -28px;
	top: -27px;
}
.no125 {
	background: url('../icons-large-sprite.png') no-repeat 82.456% 80.626%;
	width: 56px;
	height: 57px;
	position: relative;
	left: -28px;
	top: -28px;
}
.no126 {
	background: url('../icons-large-sprite.png') no-repeat 98.997% 80.685%;
	width: 56px;
	height: 58px;
	position: relative;
	left: -28px;
	top: -29px;
}
.no127 {
	background: url('../icons-large-sprite.png') no-repeat 1.003% 85.392%;
	width: 56px;
	height: 54px;
	position: relative;
	left: -28px;
	top: -27px;
}
.no128 {
	background: url('../icons-large-sprite.png') no-repeat 17.588% 85.433%;
	width: 57px;
	height: 57px;
	position: relative;
	left: -28px;
	top: -28px;
}
.no129 {
	background: url('../icons-large-sprite.png') no-repeat 33.915% 85.322%;
	width: 54px;
	height: 47px;
	position: relative;
	left: -27px;
	top: -23px;
}
.no130 {
	background: url('../icons-large-sprite.png') no-repeat 50.376% 85.361%;
	width: 56px;
	height: 57px;
	position: relative;
	left: -28px;
	top: -28px;
}
.no131 {
	background: url('../icons-large-sprite.png') no-repeat 66.667% 85.486%;
	width: 59px;
	height: 52px;
	position: relative;
	left: -30px;
	top: -26px;
}
.no132 {
	background: url('../icons-large-sprite.png') no-repeat 82.338% 85.426%;
	width: 53px;
	height: 44px;
	position: relative;
	left: -27px;
	top: -22px;
}
.no133 {
	background: url('../icons-large-sprite.png') no-repeat 99.246% 85.466%;
	width: 57px;
	height: 47px;
	position: relative;
	left: -28px;
	top: -23px;
}
.no134 {
	background: url('../icons-large-sprite.png') no-repeat 0.763% 90.173%;
	width: 62px;
	height: 46px;
	position: relative;
	left: -31px;
	top: -23px;
}
.no135 {
	background: url('../icons-large-sprite.png') no-repeat 18.689% 90.32%;
	width: 43px;
	height: 56px;
	position: relative;
	left: -21px;
	top: -28px;
}
.no136 {
	background: url('../icons-large-sprite.png') no-repeat 34.772% 90.08%;
	width: 38px;
	height: 59px;
	position: relative;
	left: -19px;
	top: -30px;
}
.no137 {
	background: url('../icons-large-sprite.png') no-repeat 50% 90.116%;
	width: 53px;
	height: 54px;
	position: relative;
	left: -27px;
	top: -27px;
}
.no138 {
	background: url('../icons-large-sprite.png') no-repeat 66.25% 90.131%;
	width: 55px;
	height: 52px;
	position: relative;
	left: -27px;
	top: -26px;
}
.no139 {
	background: url('../icons-large-sprite.png') no-repeat 82.707% 90.123%;
	width: 56px;
	height: 53px;
	position: relative;
	left: -28px;
	top: -26px;
}
.no140 {
	background: url('../icons-large-sprite.png') no-repeat 99.002% 90.179%;
	width: 54px;
	height: 35px;
	position: relative;
	left: -27px;
	top: -17px;
}
.no141 {
	background: url('../icons-large-sprite.png') no-repeat 2.913% 95.044%;
	width: 43px;
	height: 58px;
	position: relative;
	left: -21px;
	top: -25px;
}
.no142 {
	background: url('../icons-large-sprite.png') no-repeat 16.624% 94.273%;
	width: 64px;
	height: 33px;
	position: relative;
	left: -32px;
	top: -16px;
}
.no143 {
	background: url('../icons-large-sprite.png') no-repeat 33.671% 95.117%;
	width: 60px;
	height: 58px;
	position: relative;
	left: -30px;
	top: -29px;
}
.no144 {
	background: url('../icons-large-sprite.png') no-repeat 50% 95.249%;
	width: 65px;
	height: 62px;
	position: relative;
	left: -33px;
	top: -31px;
} 
.no145 {
	background: url('../icons-large-sprite.png') no-repeat 66.414% 95.245%;
	width: 59px;
	height: 63px;
	position: relative;
	left: -30px;
	top: -31px;
}
.no146 {
	background: url('../icons-large-sprite.png') no-repeat 83.333% 94.925%;
	width: 65px;
	height: 31px;
	position: relative;
	left: -33px;
	top: -15px;
}
.no147 {
	background: url('../icons-large-sprite.png') no-repeat 96.394% 95%;
	width: 39px;
	height: 50px;
	position: relative;
	left: -20px;
	top: -25px;
}
.no148 {
	background: url('../icons-large-sprite.png') no-repeat 2.206% 99.709%;
	width: 47px;
	height: 56px;
	position: relative;
	left: -23px;
	top: -28px;
}
.no149 {
	background: url('../icons-large-sprite.png') no-repeat 18.81% 99.854%;
	width: 35px;
	height: 57px;
	position: relative;
	left: -17px;
	top: -28px;
}
.no150 {
	background: url('../icons-large-sprite.png') no-repeat 34.074% 99.927%;
	width: 50px;
	height: 57px;
	position: relative;
	left: -25px;
	top: -28px;
}
.no151 {
	background: url('../icons-large-sprite.png') no-repeat 49.877% 99.564%;
	width: 48px;
	height: 53px;
	position: relative;
	left: -24px;
	top: -27px;
}
