.pokemon.filtered {
	display: none;
}
.timer {
	background: #ffffff;
	width: 40px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	border-radius: 10px;
	border: 1px solid #000;
	font-weight: bold;
	position: relative;
	left: -20px;
	top: -12px;
}
.pokeIcon {
	width: 40px;
	height: 40px;
	position: relative;
	left: -20px;
	top: -20px
}
.pokeIcon:hover {
	width: 50px;
	height: 50px;
	left: -25px;
	top: -25px;
	z-index: 1;
	cursor: pointer;
}
.pokeIcon:hover, .pokeIcon:hover + .timer {
	z-index: 1;
	left: -15px;
}
.__react_component_tooltip {
	width: 130px;
}
