var config = {
	googleApiKey: '', // Google api key
	mapCenter: {
		lat: 23.94905, // latitude
		lng: 120.93033 // longitude
	}, 
	telegramChannel: 'PokemonExplorer' // for https://telegram.me/PokemonExplorer; optional
};
export default config;
